body {
    background-color: black;
}

.container {
    margin-left: 100px;
    display: flex;
    margin-left: 350px;
    margin-top: 50px;
}
.red-box,
.green-box,
.blue-box,
.yellow-box {
    height: 100px;
    width: 100px;
}

.red-box {
    background-color: #f65314;
}
.green-box {
    background-color: #7cbb00;
}

.blue-box {
    background-color: #00a1f1;
}
.yellow-box {
    background-color: #ffbb00;
}

.red-box,
.blue-box {
    margin-bottom: 5px;
}

.red-box,
.green-box {
    margin-right: 5px;
}

.logo-text {
    font-size: 150px;
    margin-top: 10px;
    color: #737373;
    margin-left: 50px;
}